.page-footer {
  margin-top: 128px;
}

.page-footer h2 {
  display: none;
}

.page-footer__nav {
  display: none;
}

.page-footer__contacts-wrap-mobile {
  display: none;
}

.page-footer__map {
  overflow: hidden;
  position: relative;
  min-height: 807px;
  width: 100%;
}

.page-footer__map img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-footer__wrap {
  background-color: $black;
  border-top: 2px solid #41CDB8;
}

.page-footer__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 63px;
  position: relative;
}

.page-footer__logo a img {
  margin-bottom: 53px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__logo a img:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__logo p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

.page-footer__list {
  display: flex;
  margin-top: 50px;
  width: 145px;
  justify-content: space-between;
  align-items: center;
}

.page-footer__social svg {
  fill: #666666;
  transition: all 0.3s ease;
  cursor: pointer;
}

.page-footer__social svg:hover {
  fill: $white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.page-footer__feedback h3 {
  font-family: $raleway;
  font-weight: 900;
  font-size: 25px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 57px;
  padding-left: 78px;
  letter-spacing: 0.06rem;
}

.page-footer__feedback {
  width: 580px;
  background-color: $white;
  position: relative;
  min-height: 580px;
  margin-top: -250px;
  padding: 55px 105px 30px 72px;
}

.page-footer__logo {
  width: 190px;
}

.page-footer__contacts {
  width: 170px;
  margin-left: 20px;
}

.page-footer__form-fields {
  display: flex;
  flex-direction: column;
}

.page-footer__short-fields {
  display: flex;
  justify-content: space-between;
}

.page-footer__form-fields input {
  margin-top: 4px;
}

.page-footer__form-fields textarea {
  margin-top: 14px;
}

.page-footer__feedback form input {
  font-family: $roboto;
  font-weight: 400;
  margin-bottom: 21px;
  font-size: 20px;
  color:$black;
}

.page-footer__short-fields label,
.page-footer__short-fields input {
  width: 179px;
}

.page-footer__feedback form input,
.page-footer__feedback form textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid #CCCCCC;
}

.page-footer__email {
  display: flex;
  flex-direction: column;
}

.page-footer__email input {
  margin-bottom: 48px;
}

.page-footer__form-fields label {
  font-family: $roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $black;
}

.page-footer__short-fields input {
  margin-top: 23px;
}

.page-footer__feedback form p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding: 25px 36px 37px 69px;
  text-align: center;
}

.page-footer__feedback form button {
  font-family: $raleway;
  font-weight: 900;
  font-size: 25px;
  line-height: 20px;
  color: $white;
  min-width: 230px;
  min-height: 61px;
  background-color: $black;
  outline: none;
  border: none;
  padding: 6px 10px 12px 10px;
  margin-left: 103px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__feedback form button:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__email-link,
.page-footer__tel-link {
  font-weight: 900;
  font-family: $roboto;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin-top: 42px;
  display: block;
}

.page-footer__adress-link {
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $white;
}

.page-footer__contacts-wrap {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__contacts-wrap a:hover {
  color: #41CDB8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-footer__adress-link::before {
  content: '';
  position: absolute;
  background-image: url(../img/adress.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: -25px;
  top: 4px;
}

.page-footer__email-link::before {
  content: '';
  position: absolute;
  background-image: url(../img/email.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: -25px;
  top: 4px;
}

.page-footer__tel-link::before {
  content: '';
  position: absolute;
  background-image: url(../img/phone.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: -25px;
  top: 4px;
}

.page-footer__span-cont {
  font-family: $roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: $white;
  opacity: 0.6;
}

.page-footer__copy p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: $white;
  opacity: 0.3;
  padding-top: 75px;
  padding-bottom: 40px;
  text-align: center;
  letter-spacing: 0.03rem;
}

.page-footer__feedback form p a {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dotted #999999;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-footer__feedback form p a:hover {
  border-bottom: 1px dotted #999999;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {
  .page-footer {
    margin-top: 61px;
  }

  .page-footer__cont {
    margin-top: 25px;
  }
  .page-footer__map {
    min-height: 348px;
  }

  .page-footer__email-link,
  .page-footer__tel-link {
    margin-top: 36px;
  }

  .page-footer__feedback {
    width: 414px;
    margin-top: -140px;
    padding: 35px 48px 28px 53px;
    min-height: 411px;
  }

  .page-footer__feedback h3 {
    font-size: 18px;
    padding-left: 54px;
    letter-spacing: .04rem;
    margin: 0 0 34px;
  }

  .page-footer__short-fields input {
    margin-top: -5px;
  }

  .page-footer__feedback form input {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    width: 100%;
  }

  .page-footer__form-fields input {
    margin-top: 0px;
  }

  .page-footer__form-fields textarea {
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
  }

  .page-footer__form-fields label {
    font-size: 14px;
  }

  .page-footer__short-fields label {
    width: 145px;
  }

  .page-footer__feedback form p {
    font-size: 10px;
    line-height: 12px;
    padding: 9px 32px 29px 28px;
  }

  .page-footer__feedback form button {
    font-size: 16px;
    line-height: 22px;
    min-width: 165px;
    min-height: 44px;
    padding: 8px 10px 12px;
    margin-left: 73px;
  }

  .page-footer__contacts-wrap a {
    font-size: 14px;
    line-height: 28px;
  }

  .page-footer__logo {
    width: 100%;
    display: flex;
    order: 3;
    margin-top: 56px;
    border-bottom: 1px solid #1A1A1A;
    padding-bottom: 21px;
  }

  .page-footer__logo a img {
    display: none;
  }

  .page-footer__nav {
    display: flex;
  }

  .page-footer__nav-list {
    display: flex;
  }

  .page-footer__contacts {
    width: 161px;
    margin-left: 20px;
    margin-top: 3px;
  }

  .page-footer__email-link::before {
    top: 9px;
  }

  .page-footer__nav-item a,
  .page-footer__logo p {
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, .5);
    font-family: $roboto;
    font-weight: 400;
    transition: all 0.3s ease;
  }

  .page-footer__logo p {
    margin-right: 18px;
  }

  .page-footer__nav-item a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
  }

  .page-footer__list {
    margin-top: 0;
    width: 91px;
    margin-left: 56px;
  }

  .page-footer__nav-item {
    margin-left: 35px;
  }

  .page-footer__social--vk svg{
    width: 30px;
    height: 25px;
  }

  .page-footer__social--twitter svg {
    width: 17px;
    height: 22px;
  }

  .page-footer__social--fb svg {
    width: 16px;
    height: 23px;
  }

  .page-footer__copy p {
    letter-spacing: 0.03rem;
    padding-top: 20px;
    padding-bottom: 21px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .page-footer {
    margin-top: 39px;
  }

  .page-footer h2 {
    font-family: $raleway;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    display: block;
    padding: 6px 20px 20px;
    text-transform: uppercase;
    margin: 0;
  }

  .page-footer__feedback {
    order: 1;
    margin-top: 0px;
    padding: 45px 20px 60px 20px;
    width: 100%;
  }

  .page-footer__map {
    min-height: 195px;
  }

  .page-footer__contacts {
    width: 100%;
    margin-left: 76px;
    margin-top: 0px;
    padding: 0 20px 0;
    margin-bottom: 18px;
  }

  .page-footer__cont {
    margin-top: 10px;
    padding: 6px 0 0;
  }

  .page-footer__contacts-wrap a {
    line-height: 21px;
  }

  .page-footer__email-link,
  .page-footer__tel-link {
    font-weight: 400;
    margin-top: 10px;
  }

  .page-footer__email-link::before {
    top: 4px;
    left: -29px;
  }

  .page-footer__short-fields input,
  .page-footer__short-fields label {
    width: 100%;
    padding-right: 40px;
  }

  .page-footer__short-fields input:nth-child(2),
  .page-footer__short-fields label:nth-child(2) {
    padding-right: 0;
  }

  .page-footer__feedback h3 {
    padding-left: 40px;
    margin: 0 0 26px;
  }

  .page-footer__email input {
    margin-bottom: 30px;
  }

  .page-footer__form-fields textarea {
    margin-top: 0;
  }

  .page-footer__feedback form p {
    padding: 22px 0px 32px 0px;
  }

  .page-footer__feedback form button {
    width: 50%;
    margin: 0 auto;
  }

  .page-footer__logo p {
    display: none;
  }

  .page-footer__contacts-mobile {
    padding: 0 20px;
  }

  .page-footer__list {
    padding: 0 20px;
    display: flex;
    margin: 0;
    margin-top: 27px;
    width: 219px;
  }
  .page-footer__list li {
    margin-right: 20px;
  }

  .page-footer__contacts-wrap-mobile a p {
    display: block;
    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 28px;
    padding: 0 0 16px 30px;
    transition: all 0.3s ease;
  }

  .page-footer__span-cont-mobile {
    display: block;
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    line-height: 28px;
    padding: 0 0 0 30px;
    margin-top: -24px;
  }

  .page-footer__nav {
    margin-bottom: 16px;
  }

  .page-footer__nav-list {
    flex-direction: column;
    width: 100%;
  }

  .page-footer__nav-item {
    padding: 0 20px;
    margin-left: 0;
    border-bottom: 1px solid #626262;
  }

  .page-footer__nav-item a {
    display: block;
    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding: 15px 0px 11px 0px;
  }

  .page-footer__contacts-wrap-mobile {
    padding: 0 0 0 0;
    display: block;
  }

  .page-footer__contacts-wrap-mobile a {
    position: relative;
  }

  .page-footer__contacts-wrap-mobile a p:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .page-footer__social--vk svg {
    width: 41px;
    height: 36px;
  }

  .page-footer__social--twitter svg {
    width: 34px;
    height: 32px;
  }

  .page-footer__social--fb svg {
    width: 30px;
    height: 30px;
  }

  .page-footer__logo {
    flex-direction: column;
    margin-top: 0px;
    border-bottom: none;
  }

  .page-footer__copy {
    padding: 0 50px;
  }

  .page-footer__adress-link-mobile::before {
    content: '';
    background-image: url(../img/adress-grey.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    background-repeat: no-repeat;
  }

  .page-footer__email-link-mobile::before {
    content: '';
    background-image: url(../img/email-grey.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    background-repeat: no-repeat;
  }

  .page-footer__tel-link-mobile::before {
    content: '';
    background-image: url(../img/phone-grey.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    background-repeat: no-repeat;
  }

  .page-footer__feedback form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
