.partners {
  margin-top: 112px;
}

.partners__wrap {
  position: relative;
}

.partners__wrap h2 {
  position: relative;
  font-family: $raleway;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: $black;
}

.partners__wrap h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 87%;
  height: 1px;
  background-color: #000;
}

.partners__wrap h2 span {
  background-color: #fff;
  min-width: 300px;
  z-index: 222;
  position: relative;
  padding-right: 132px;
}

.partners__text-hidden {
  display: none;
}

.partners__button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 117px;
}

.partners__button button {
  width: 60px;
  height: 35px;
  padding: 12px;
  display: flex;
  justify-content: center;
  background-color: $white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.partners__button button:hover {
  background-color: #00FFD8;
  transition: all 0.3s ease;
}

.partners__logo a:hover img {
  opacity: 1;
  transition: all 0.3s ease;
}

.partners__button-prew svg {
  transform: rotate(180deg);
}

.partners__button-prew {
  border: 2px solid $black;
  border-right: none;
}

.partners__button-next {
  border: 2px solid $black;
  border-left: none;
}

.partners__button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  width: 2px;
  height: 8px;
  background-color: $black;
}

.partners__logo-item img {
  opacity: .5;
  transition: all 0.3s ease;
}

.partners__logo {
  margin-top: 47px;
}

.partners__logo-item a {
  display: block;
  padding: 14px 22px 9px 25px;
  border: 1px solid #ededed;
}
@media (max-width: 1199px) {
  .partners {
    margin-top: 76px;
  }

  .partners__text-hidden {
    display: block;
  }

  .partners__button {
    display: none;
  }

  .partners__wrap h2::after {
    content: none;
  }

  .partners__wrap h2 {
    font-size: 26px;
  }

  .partners__wrap h2 span {
    display: flex;
    padding-right: 0;
    min-width: 96px;
    flex-wrap: wrap;
  }

  .partners__logo-item a {
    border: none;
    padding: 40px 22px 22px 22px;
  }

  .partners__logo-item {
    box-shadow: 0 1px 17px 1px rgba(0, 0, 0, .1);
    min-height: 204px;
  }

  .partners__logo-list {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .partners__logo {
    margin-top: 7px;
  }

  .partners__logo-item img {
    min-width: 232px;
  }

}

@media (max-width: 767px) {
  .partners {
    margin-top: 29px;
  }

  .partners__logo-item {
    box-shadow: none;
    min-height: auto;
  }

  .partners__logo a {
    width: 99%;
    border-right: 1px solid #ededed;
    padding: 11px 0px 8px 0px;
  }

  .partners__wrap h2 span span{
    display: none;
  }

  .partners__wrap h2 {
    font-size: 20px;
  }

  .partners__logo {
    margin-top: 0px;
  }

  .partners__logo-item img {
    min-width: 216px;
  }

  .partners__logo .swiper-slide-active {
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  .partners__logo-list {
    padding-bottom: 12px;
  }

}

// .partners .swiper-slide-active a{
//   padding: 20px 12px 18px;
// }
