.projects {
  margin-top: 63px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.projects__wrap h2 span {
  background-color: $white;
  display: block;
  width: 300px;
  position: relative;
  z-index: 22;
  padding-right: 80px;
}

.projects__wrap h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.projects__wrap h2 {
  position: relative;
  margin: 0;
  font-family: $raleway;
  font-size: 30px;
  font-weight: 900;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 45px;
}

.projects__items {
  width: 24.7%;
  position: relative;
  min-height: 290px;
  margin-right: 4px;
  margin-bottom: 5px;
}

.projects__items:nth-child(4n),
.projects__items:last-child {
  margin-right: 0;
}

.projects__items:nth-child(5n),
.projects__items:nth-child(6n) {
  width: 49.8%;
}

.projects__items:nth-child(5n) h3,
.projects__items:nth-child(6n) h3 {
  font-size: 32px;
  min-height: 70px;
}

.projects__items:nth-child(5n) .projects__text-content,
.projects__items:nth-child(6n) .projects__text-content {
  padding: 45px 75px 30px 29px;
}

.projects__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.projects__img img {
  width: 100%;
  height: 100%;
}

.projects__text-content {
  padding: 50px 13px 30px 29px;
}

.projects__text-content h3 {
  font-family: $roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  color:$white;
  margin: 0;
  min-height: 75px;
}

.projects__text-content p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: $white;
  opacity: 0.6;
}

.projects__pointer {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 47px;
  height: 35px;
  right: 8px;
  bottom: 12px;
  border: 2px solid rgba(255, 255, 255, .3);
  cursor: pointer;
  transition: all .3s ease;
}

.projects__pointer:hover {
  border-color:#00FFD8;
  background-color: #00FFD8;
  transition: all .3s ease;
}

.projects__pointer:hover svg {
  fill: rgba(0, 0, 0, .5);
  transition: all .3s ease;
}

.projects__pointer svg {
  position: absolute;
  left: 29%;
  top: 39%;
  fill: rgba(255, 255, 255, .3);
}
@media (max-width: 1199px) {
  .projects {
    margin-top: 228px;
  }

  .projects__wrap h2::after {
    content: none;
  }

  .projects__wrap h2 {
    font-size: 26px;
    margin-bottom: 42px;
  }

  .projects__items {
    width: 100%;
    margin-right: 0;
    margin-bottom: 9px;
    min-height: 180px;
    overflow: hidden;
  }

  .projects__items:nth-child(5n),
  .projects__items:nth-child(6n) {
    width: 100%;
    margin-right: 0;
  }

  .projects__text-content h3 {
    min-height: 39px;
  }

  .projects__text-content p {
    font-size: 18px;
    color: $white;
    opacity: 0.6;
  }

  .projects__text-content {
    padding: 44px 115px 20px 43px;
  }

  .projects__items:nth-child(5n) .projects__text-content,
  .projects__items:nth-child(6n) .projects__text-content {
    padding: 44px 68px 20px 43px;
  }
  .projects__items:nth-child(5n) h3,
  .projects__items:nth-child(6n) h3 {
    font-size: 24px;
    min-height: 39px;
  }

  .projects__hidden {
    display: none;
  }

  .projects__pointer {
    display: none;
  }

  .projects__img,
  .projects__img img {
    height: auto;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-top: 19px;
  }

  .projects__wrap h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .projects__text-content h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03rem;
  }

  .projects__text-content p {
    display: none;
  }

  .projects__text-content {
    padding: 37px 25px 20px 25px;
    text-align: center;
  }

  .projects__items {
    min-height: 101px;
  }

  .projects__items:nth-child(5n) .projects__text-content,
  .projects__items:nth-child(6n) .projects__text-content {
    padding: 37px 25px 20px 25px;
  }

  .projects__items:nth-child(5n) h3,
  .projects__items:nth-child(6n) h3 {
    font-size: 16px;
    min-height: 39px;
  }
}
